# Jetbrains
.idea/

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
.vscode-test/
*.vsix

# libraries and build folders
node_modules
out
.DS_Store
